In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = 10, 6
import seaborn as sns
%matplotlib inline

In [7]:
data = pd.read_csv('weather_data.csv', sep=',').drop(['text'], axis='columns')

In [8]:
data.head()

,21-22,8-10,8-9,23-27,16-20,26-29,08-09,9,20-25,10-12,...,14-16,15-17,3-4,26-28,22-24,25,12-14,month,day_start,day_end
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,8,9,9
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8,10,10
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,8,9,9
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8,8,8
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,8,9,9

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11875 entries, 0 to 11874
Columns: 133 entries, 21-22 to day_end
dtypes: int64(133)
memory usage: 12.0 MB

In [10]:
data.describe()

,21-22,8-10,8-9,23-27,16-20,26-29,08-09,9,20-25,10-12,...,14-16,15-17,3-4,26-28,22-24,25,12-14,month,day_start,day_end
count,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,...,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000,11875.000000
mean,0.001937,0.000421,0.002526,0.000168,0.000253,0.000253,0.000168,0.054737,0.000337,0.001011,...,0.000337,0.002189,0.001768,0.000589,0.000758,0.042021,0.000674,6.573221,16.660547,16.896842
std,0.043969,0.020516,0.050201,0.012977,0.015893,0.015893,0.012977,0.275986,0.018351,0.034322,...,0.018351,0.048511,0.042017,0.024273,0.027521,0.212073,0.025948,3.355741,41.435949,42.337204
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,8.000000,8.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,15.000000,15.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,23.000000,23.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,2.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,4.000000,1.000000,12.000000,2014.000000,2014.000000

In [22]:
from parser import MONTHS_GEN
months_list = list(MONTHS_GEN.values()).append('month')

In [19]:
print(months_list)
# m_data = data.loc[:, months_list]

None

In [13]:
m_data.head()

NameError: name 'm_data' is not defined