In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./data/weather_data_days.csv', sep=',')
data = data.drop(['text'], axis='columns')
data = data.drop(['day_start'], axis='columns')
data = data.drop(data[data['day_end'] < 1].index)
data = data.drop(data[data.iloc[:, 0:61].sum(axis = 1, skipna = True) == 0].index)

In [3]:
X= data.drop('day_end', axis=1)
y = data['day_end'].astype('int')

In [4]:
X.shape, y.shape

((11490, 61), (11490,))

In [6]:
data.head()

,4,30,29,31,13-14,21,25,7-8,12-13,18-19,...,28-29,14-15,27-28,13,6,8,19,16,3-4,day_end
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,8
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9

In [7]:
from sklearn.model_selection import cross_val_score, StratifiedKFold, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [8]:
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=17)

In [9]:
rfc = RandomForestClassifier(random_state=17, n_jobs=-1, oob_score=True)

In [10]:
results = cross_val_score(rfc, X, y, cv=skf)

In [11]:
print("CV accuracy score: {:.2f}%".format(results.mean()*100))

CV accuracy score: 98.15%