In [2]:
import nltk
import pandas as pd
import numpy as np
import csv

In [3]:
np.set_printoptions(precision=2)

In [4]:
data = pd.read_csv('weather_data.csv', sep=',')

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.head()

,text,21-22,8-10,8-9,23-27,16-20,26-29,08-09,9,20-25,...,14-16,15-17,3-4,26-28,22-24,25,12-14,month,day_start,day_end
0,"Сегодня, 9 августа (воскресенье), в период с 1...",0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,8,9,9
1,ВНИМАНИЕ!Днем 10 августа (понедельник) в отде...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8,10,10
2,ВНИМАНИЕ!Днем 9 августа (воскресенье) в отдель...,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,8,9,9
3,"8 августа центр антициклона, которому немецкие...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8,8,8
4,9 августа антициклон станет терять свою силу и...,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,8,9,9

In [7]:
data.shape

(11875, 134)